@import "../../../assets/styles/colors.scss";

.container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  min-width: 230px;
}

.createBtn {
  margin: 1rem 3rem !important;
  background-color: $grey700 !important;
}
