@import "../../../assets/styles/colors.scss";

.container {
  display: flex;
  text-align: center;
  padding: 0.8rem 0;
  max-width: 100%;
  z-index: 1;
  border-radius: 0% !important;
  border-bottom: 1px solid $grey500;

  &:hover {
    position: relative;
    box-shadow: 0 5px 5px $grey500;
    z-index: 2;
  }
}

.bold {
  p {
    font-weight: 700 !important;
  }
}

.name {
  width: 250px;
  padding-left: 3rem;
  text-align: left;
}

.preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.date {
  width: 150px;
  text-align: right;
  padding-right: 2rem;
}
