@import "../../assets/styles/colors.scss";
@import "../../assets/styles/breakpoints.scss";

.container {
  width: 98vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 100vh;
}
