@import "../assets/styles/colors.scss";

.container {
  background-color: $indigo700;
  width: calc(98vw - 200px);
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.pagination {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
}

.active {
  color: $black !important;
}
