@import "../../assets/styles/colors.scss";
@import "../../assets/styles/breakpoints.scss";

.appBar {
  left: 0 !important;
  width: 100vw !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 64px !important;
  position: relative;
  background-color: $grey700 !important;
}

.toolBar {
  min-height: 60px !important;
  height: 100%;
  box-sizing: border-box;
}

.header {
  position: absolute;
  right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menuIcon,
.accountIcon {
  height: 36px !important;
  width: 36px !important;
  color: $indigo50;
}
