@import "../../assets/styles/colors.scss";

.container {
  background-color: $indigo700;
  width: calc(98vw - 230px);
  border-left: 1px solid $grey500;
}

.controls {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.select {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  width: 200px !important;
}

.pagination {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
}

.active {
  color: $black !important;
}
